* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body {
  background-color: #222;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.title {
  display: grid;
  gap: 1rem;
}

.card {
  background-color: #ffc300;
  height: 250px;
  width: 200px;
  padding: .5rem;
  border-radius: .5rem;
  display: grid;
  grid-template-rows: 1fr .25fr;
  gap: .5rem;
}

.img-frame {
  border-radius: .5rem;
  overflow: hidden;
}

.description-box {
  text-align: center;
  background-color: red;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-box.disabled {
  pointer-events: none;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #222;
  padding: 1rem;
  padding-top: 2rem;
  gap: 1rem;
}

/* Scoreboard */
.scoreboard {
  background-color: #ced4da;
  padding: .5rem;
  border-radius: .5rem;
  width: 150px;
  display: grid;
  gap: .5rem;
}